.navbar_list {
    list-style: none;
    padding-left: 0;
    display: flex;
    margin: 0;
    justify-content: space-around;
    min-width: 300px;
}

.navbar_link {
    text-decoration: none;
    text-align: center;
    color: #5c5b58;
}

.navbar_link:hover {
    text-decoration: underline;
    color: #464135;
}

.navbar_username {
    font-weight: bold;
}