.list {
    padding: 20px 40px;
    margin-bottom: auto;
}

.table {
    border: black solid 1px;
}

.table_head {
    background-color: rgb(221, 177, 120);
}

.table_head .table_cell {
    border-right: 1px solid rgb(0, 0, 0);
}

.table_head .table_cell:last-child {
    border-right: none;
}

.table_head.table_row {
    border-bottom: 1px solid rgb(0, 0, 0);
}

.table_body {
    background-color: rgb(248, 246, 242);
}

.table_row {
    display: grid;
    grid-template-columns: 5% repeat(4, 1fr);
    border-bottom: 1px solid rgb(160, 154, 143);
}

.five_columns {
    grid-template-columns: 5% repeat(5, 1fr);
}

.table_row:last-child {
    border-bottom: none;
}

.table_cell {
    border-right: 1px solid rgb(160, 154, 143);
    padding: 2px 5px;
}

.table_cell:last-child {
    border-right: none;
}

.row_link {
    text-decoration: none;
    color: #5c5b58;
}

.row_link:hover {
    background-color: rgb(223, 222, 219);
    cursor: pointer;
}
