.list {
    padding: 20px 40px;
    margin-bottom: auto;
}

.table {
    width: 100%;
    border: black solid 1px;
    border-collapse: collapse;
}

.table_head {
    background-color: rgb(221, 177, 120);
}

.table_body {
    background-color: rgb(248, 246, 242);
}

.table th{
    border: 1px solid rgb(0, 0, 0);
}

.table td {
    border: 1px solid rgb(160, 154, 143);
    padding: 2px 5px;
}